<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Save the Planet</title>
</head>
<body>

  <div>
    <h1>How to save the planet from global warming</h1>
    <p>
      Easy! To save the planet from global warming, individuals can reduce energy use, embrace sustainable transportation and diet, and decrease waste through recycling and conscious consumption. On a larger scale, systemic changes like transitioning to renewable energy, restoring forests, improving agricultural practices, and fostering international cooperation are essential to limit warming to the agreed-upon levels.
    </p>
  </div>
  
  <div class="button-container">
    <a href="{{ url_for("quizz") }}" class="button">Quizz</a>
    <a href="{{ url_for("shop") }}" class="button">Shop</a>
    <a href="{{ url_for("info") }}" class="button">For More Info</a>
  </div>

</body>
</html>
