<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <h1>QUESTION 2</h1>
</head>
<body>
 <text>What can you do to help fight climate change?</text> 
 <a href="{{ url_for("wrong1") }}" class="button">Utilize public transit</a> 
 <a href="{{ url_for("wrong1") }}" class="button">Vote for political candidates who will advocate for climate-related legislation and policy improvements</a>
 <a href="{{ url_for("wrong1") }}" class="button">Consume less meat products</a> 
 <a href="{{ url_for("correct1") }}" class="button">All of the above</a>

</body>
</html>