<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <h1>QUESTION 1</h1>
</head>
<body>
 <text>What is the Greenhouse effect?</text> 
 <a href="{{ url_for("wrong") }}" class="button">The name of climate change legislation that was passed by Congress</a> 
 <a href="{{ url_for("correct") }}" class="button">The main factors of pollution are industrial activity, vehicle emissions, agricultural practices, and the burning of fossil fuels</a> 
 <a href="{{ url_for("wrong") }}" class="button">When you build a greenhouse</a>
 <a href="{{ url_for("wrong") }}" class="button">When you paint your house green to become an environmentalist</a>
</body>
</html>