<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <h1>QUESTION 1</h1>
</head>
<body>
 <text>Which of the following is a greenhouse gas?</text> 
 <a href="{{ url_for("wrong2") }}" class="button">Co2</a> 
 <a href="{{ url_for("wrong2") }}" class="button">CH4</a> 
 <a href="{{ url_for("wrong2") }}" class="button">Water Vapour</a>
 <a href="{{ url_for("correct2") }}" class="button">All above</a>
</body>
</html>