<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <h1>QUESTION 2</h1>
</head>
<body>
 <text>Which of this counries produces more greenhouse gases</text> 
 <a href="{{ url_for("wrong3") }}" class="button">Russia</a> 
 <a href="{{ url_for("wrong3") }}" class="button">UK</a>
 <a href="{{ url_for("correct3") }}" class="button">China</a> 
 <a href="{{ url_for("wrong3") }}" class="button">USA</a>

</body>
</html